body {
    background-color: lightseagreen;
    }

@font-face {
	font-family: "Times New Roman", Times, serif;
}

h1 {
	color:white;
	text-align: center;
	padding: 50px;
	font-size:48px;
	}

p {
	color:white;
	text-align: auto;
	padding:50px;
	}