.cb {
    width:576px;
    height: 324px;
}

.pb {
    width: 414px;
    height: 736px;
}

.lg {
    max-width: 400px;
    max-height: 400px;
}

.download {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}