.cb {
    border:none;
    width:576px;
    height: 324px;
}

.pb {
    width: 414px;
    height: 736px;
}

.lg {
    max-width: 400px;
    max-height: 400px;
}

.dbutton {
    float: auto;
    padding:16px 28px;
    margin:4px 2px;
    border:none;
    color:white;
    background-color: lightskyblue;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}